#btn4a {
    --background: #14b3db;

    --color: rgb(0, 0, 0);

    --box-shadow: 0 2px 6px 0 rgba(167, 215, 247, 0.747);
}


#btn4b {
    --background: #ffae00;

    --color: rgb(255, 255, 255);

    --box-shadow: 0 2px 6px 0 rgba(167, 215, 247, 0.747);
}